main {
  .carrousel {
    .main-image {
      width: 100%;
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #F1EADC;
      height: 60px;
      width: 100%;
      margin-top: -5px;

      img {
        margin-left: 10px;
      }
    }

    .controls {
      display:flex;
      justify-content: center;

      /* Customize the label (the container) */
      .container {
        display: block;
        position: relative;
        // padding-left: 35px;
        // margin-bottom: 12px;
        margin: 10px 10px 10px 10px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #C4C4C4;
      }

      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #000000;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        border: solid white;
        border-width: 0 3px 3px 0;
      }
    }
  }
  .destacated {
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    margin-top: 70px;

    .author { }
    .title {
      margin-top: 30px;
    }
    .description {
      margin: 20px 28px 20px 28px;
      color: #6A6161;
    }
    .logo2020 {
      margin-bottom: 50px;
    }
  }
  .latest {
    h3 {
      margin: 45px 29px 43px 29px;
      text-align: center;
    }
  }
  .feature {
    display: flex;
    flex-direction: column;

    margin: 0 26px 72px 26px;
    img {
      width: 100%;
    }
    h4{
      text-align: center;
    }
    .button-wrapper {
      text-align: center;
      button {
        background-color: #ffffff;
        padding: 22px 35px 22px 35px;
      }
    }
  }
  .press-quotes {
    margin: 75px 0 60px 0;
    .quote {
      margin: 0 30px 57px 27px;
      text-align: center;
    }
    .brands {
      text-align: center;
    }
  }
  .instagram-block {
    margin: 47px 26px 44px 26px;
    .title {}
    .carrousel {
      margin-right: -26px;
      margin-bottom: 37px;
      overflow-x: hidden;
      white-space: nowrap;
      img {
        margin: 0 10px 0 0px;
      }
    }
    .button {
      button {
        padding: 13px 0 13px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;

        background-color: #ffffff;
        border: 2px solid black;

        text-align: left;
      }
    }
  }
}
